<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="/process" method="post">
        <p>Your Name: <input type="text" name="name"></p>
        <p>Dojo Location: <select name="location">
            <option value="Mountain View">Mountain View</option>
            <option value="Burbank">Burbank</option>
        </select></p>
        <p>Favorite Language: <select name="language">
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
        </select></p>
        <p>Comment (optional):</p>
        <textarea name="comment" cols="30" rows="10"></textarea>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>