<h1>Product List</h1>
<button id="add-new-btn" [routerLink]="['new']">Add New Product</button>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of productList?.products">
      <td>{{ x._id }}</td>
      <td>{{ x.name }}</td>
      <td>{{ x.qty }}</td>
      <td>${{ x.price }}</td>
      <td>
        <button [routerLink]="['/edit/', x._id]">Edit</button>
        <button [routerLink]="['/details/', x._id]">Details</button>
      </td>
    </tr>
  </tbody>
</table>