<form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
    <p>Name: <input type="text" name="name" placeholder="Name here..."></input></p>
    <p><input type="submit" value="Submit"></input></p>
</form>