<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a course</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
</head>
<body>
    <h3>Are you sure you want to delete the following course?</h3>
    <h4>Name: <span>{{ course.course_name }}</span></h4>
    <h4>Description: <span>{{ course.desc }}</span></h4>
    <button><a href="/">No</a></button>
    <button><a href="/destroy/{{ id }}">Yes! I want to delete this</a></button>
</body>
</html>