<h1>Update Product</h1>

<div id="errors" *ngFor="let x of errors">
  {{ x }}
</div>

<form (submit)= "onSubmitEdit()">
  <h3>Name <input type="text" name="editProduct.name" [(ngModel)]="editProduct.name" placeholder="Item name here"></h3>
  <h3>Qty <input type="text" name="editProduct.qty" [(ngModel)]="editProduct.qty" placeholder="Quantity here"></h3>
  <h3>Price <input type="text" name="editProduct.price" [(ngModel)]="editProduct.price" placeholder="Price here"></h3>
  <button id="update-btn" type="submit">Update</button>
</form>
<button (click)="onClickReset()">Reset</button>