<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviewer/css/style.css' %}">
</head>
<body>
    <div id="header">
        <h1>Welcome, {{ alias }}!</h1>
        <span>
            <a href="books/add">Add Book and Review</a>
            <a href="/">Logout</a>
        </span>
    </div>
    <div id="recent_books">
        <h2>Recent Book Reviews:</h2>
        <div id="book_sum">
            {% for review in reviews %}
            <a href="books/{{ review.book.id }}">{{ review.book.title }}</a>
            <p>Rating: {{ review.stars }}</p>
            <p><a href="users/{{ review.reviewer.id }}">{{ review.reviewer.name }}</a> says: {{ review.review }}</p>
            <p>Posted on {{ review.created_at }}</p>
            <br>
            {% endfor %}
        </div>
    </div>
    <div id="all_books">
        <h2>Other Books with Reviews:</h2>
        <div id="books_log">
            {% for book in all_books %}
            <p><a href="books/{{ book.id }}">{{ book.title }}</a></p>
            {% endfor %}
        </div>
    </div>
</body>
</html>