<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviewer/css/style.css' %}">
</head>
<body>
    <h1>Welcome!</h1>
    <div id="register">
        <h2>Register</h2>
        <form action="/reg_user" method="post">
            {% csrf_token %}
            <p>Name: <input type="text" name="name"></p>
            <p>Alias: <input type="text" name="alias"></p>
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="text" name="password"></p>
            <p>Confirm PW: <input type="text" name="confirm_pw"></p>
            <input type="submit" value="Register">
        </form>
        {% if messages %}
            {% for message in messages %}
            <ul>
                <li>{{ message }}</li>
            </ul>
            {% endfor %}
        {% endif %}
    </div>
    <div id="login">
        <h2>Login</h2>
        <form action="/log_user" method="post">
            {% csrf_token %}
            <p>Email: <input type="text" name="email_login"></p>
            <p>Password: <input type="text" name="pw_login"></p>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>