*{
    margin: 0;
    padding: 0;
}
h1{
    margin: 15px;
}
table{
    margin-left: 15px;
    border-spacing: 15px;
}
form{
    margin-left: 15px;
}
h4{
    margin-left: 15px;
    margin-bottom: 15px;
}
