<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Reg | Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
</head>
<body>
    <h1>Registration</h1>
    <form action="process" method="post">
        {% csrf_token %}
        <p>First Name: <input type="text" name="first_name"></p>
        <p>Last Name: <input type="text" name="last_name"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="text" name="password"></p>
        <p>Confirm pw: <input type="text" name="confirm_pw"></p>
        <input type="submit" value="Register">
    </form>
    <h1>Login</h1>
    <form action="login" method="post">
        {% csrf_token %}
        <p>Email: <input type="text" name="email_login"></p>
        <p>Password: <input type="text" name="pw_login"></p>
        <input type="submit" value="Login">
    </form>
    {% if messages %}
        {% for message in messages %}
            <ul>
                <li>{{ message }}</li>
            </ul>    
        {% endfor %}
    {% endif %}
</body>
</html>