<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
    <form action="/result" method="post">
        <p id="paragraph">Your Name:</p> <input type="text" name="name"><br>
        <p>Dojo Location:</p> <input type="text" name="location"><br>
        <p>Favorite Language:</p> <input type="text" name="language"><br>
        <p>Comment (optional):</p><br><input type="text" name="comment"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>