<a [routerLink]= "['new']">Add an author</a>
<h4>We have quotes by:</h4>

<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Actions Available</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of authorsList?.authors">
            <td>{{ x.name }}</td>
            <td>
                <button [routerLink]= "['/edit/', x._id]">Edit</button>
                <button (click)="onButtonClickDel(x._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>