<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users New</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'semirestfulusers/css/index.css' %}">
</head>
<body>
    <h1>Add a new user</h1>
    <form action="create" method="post">
        {% csrf_token %}
        <p>First name:</p>
        <input type="text" name="first_name">
        <p>Last name::</p>
        <input type="text" name="last_name">
        <p>Email:</p>
        <input type="text" name="email">
        <input type="submit" value="Create">
    </form>
    <a href="/users">Go Back</a>
</body>
</html>