<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza Power!</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for("static", filename="js/script.js") }}"></script>
</head>
<body>
    <div id="char"></div>
    <div id="buttons">
        <form action="/">
            <input type="submit" value="Red">
            <input type="submit" value="Blue">
            <input type="submit" value="Orange">
            <input type="submit" value="Purple">
        </form>
    </div>
</body>
</html>