<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'surveyform/css/style.css' %}">
</head>
<body>
    <form action="/process" method="post">
        {% csrf_token %}
        <p>Your Name: <span class="span"><input type="text" name="name"></span></p>
        <p>Dojo Location: <span class="span">
            <select name="location">
                <option value="Mountain View">Mountain View</option>
            </select></span></p>
        <p>Favorite Language: <span class="span">
            <select name="language">
                <option value="Javascript">Javascript</option>
            </select>
        </span></p>        
        <p>Comment (optional): </p>
        <textarea name="comment" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>