<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/process" method="POST">
        <h2>Your name: <input type="text" name="name"></h2>
        <h2>Your quote: <input type="text" name="quote"></h2>
        <p>
            <span><input type="submit" value="Add my quote!"></span>
            <span><button disabled="disabled"><a href="/quotes">Skip to quotes!</a></button></span>
        </p>
    </form>
    <% if(typeof(errors) != "undefined"){ %>
        <% for(var x in errors){ %>
            <p><%= errors[x].message %></p>
        <% } %>
    <% } %>
</body>
</html>